
#filemanager-area{width: 100%;}
#filemanager-path{margin-bottom: 25px;}
#filemanager-form{margin-bottom: 30px; border-bottom: 1px solid #918b8b;}
#filemanager-form tr.back td.name{background-image: url('../images/icon-folder-up.svg');}
#filemanager-form tr.folder td.name{background-image: url('../images/icon-folder.svg');}
#filemanager-form tr.disabled td.name{color: #999;}
#filemanager-form tr td.name{padding-left: 30px; background-repeat: no-repeat; 
background-position: left 5px center;}
#filemanager-form tr td.params > div{display: flex; align-items: center; height: 60px;}
#filemanager-form tr td.params a{display: inline-flex;}
#filemanager-form tr td.params div:has(img) div{margin-left: 10px;}
#filemanager-form tr td.params img{max-width: 60px;}
#filemanager-form tr td.operations{max-width: 100px;}
#filemanager-form tr td.operations a.disabled{opacity: 0.3; cursor: default;}

#filemanager-navigation{display: flex; justify-content: space-between; margin-bottom: 30px;}
#filemanager-navigation section:first-child{margin-bottom: 25px;}
#filemanager-navigation section h3{margin-bottom: 10px; font-size: 17px; font-weight: normal;}
#filemanager-navigation section form{display: flex; width: 330px; justify-content: space-between;}
#filemanager-navigation section form input[type='text']{height: 33px; box-sizing: border-box;
padding: 5px 1%; border-radius: 3px; border: 1px solid #918b8b; width: 238px;}
#filemanager-navigation section form input[type='file']{width: 230px;}