AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine Off

Require all denied

<FilesMatch "^.*$">
    Require all granted
</FilesMatch>

<FilesMatch "^login/.*$">
    Require all granted
</FilesMatch>